.App {
  text-align: center;
  width: 100vw;
  font-style: "Arial, 'Helvetica Neue', Helvetica, sans-serif";
}
h6 {
  color:#505965;
}
h6:hover {
  color: #d6002f;
  cursor: pointer;
}
 .fa {
  font-size: 26px;
  margin-right: 8px;
  cursor: pointer;
}
.fa:hover {
  color: #d6002f;
}

 a span:hover {
  color: #d6002f;
  border-bottom: 2px solid #d6002f;
}
ul li {
  list-style: none;
  cursor: pointer;
}
ul li:hover {
  color: #d6002f;
}
input {
  border: none;
  border-bottom: 2px solid grey;
  width: 50%;
  outline: none;
}
input:focus {
  border-bottom: 2px solid #d6002f;
  outline: none;
}
input::placeholder{
  font-size: 20px;
  margin-bottom: 10px;
}